/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 11, 2015, 2:56:49 AM
    Author     : Eli
*/

/*http://stackoverflow.com/questions/19089384/twitter-bootstrap-3-two-columns-full-height*/

/*.content {
    overflow: hidden;
}

.navigation {
    padding-bottom: 100%;
    margin-bottom: -100%;
}

.header {
    background: green;
}
.navigation {
    background: pink;
}
.content {
    background: yellow;
}*/