<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<div class="container-fluid">
    <div class="row">
        
        <div class='col-xs-12 col-sm-6 col-md-4'>
            
            <div data-bind="visible: !loggedIn()">
                <h3>Log in to Github</h3>

                <label for="exampleInputName2">Username</label>
                <input type="text" class="form-control" id="githubUserName" placeholder="Jane Doe">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="githubPassword" placeholder="Password">
                <button class="btn btn-default" onclick="signIntoGithub()">Sign in</button>
            </div>
            
            <div data-bind="visible: loggedIn()">
               
                <h3>Logged In As:</h3>
               
                <div class="media">
                    <div class="media-left">
                        <a data-bind="attr: { href: githubUserViewModel().profileUrl }">
                            <img class="media-object pull-left img-thumbnail" data-bind="attr: { src: githubUserViewModel().profilePicURL }" style="width:64px; height:64px;">
                        </a>
                    </div>
                    
                    <div class="media-body">
                        <h4 class="media-heading" data-bind="text: githubUserViewModel().displayName"></h4>
                        <p></p>
                    </div>
                </div>
                
                <div data-bind="if: applicationsViewModel.nameOfProjectLoaded().length != 0 ">
                    <h3>Repo In Use:  <span data-bind="text: applicationsViewModel.nameOfProjectLoaded"></span></h3>
                </div>
                
                
                <div data-bind="if: applicationsViewModel.nameOfProjectLoaded().length == 0 ">
                
                    <h3>List of Repos:</h3>
                    
                    <div data-bind='foreach: usersRepos'>
                        <h4><button type='button' class='btn btn-default btn-xs' data-bind='click: $parent.loadRepo'>
                            <span class='glyphicon glyphicon-import' aria-hidden='true'></span> </button><span data-bind='text: name'></span></h4>
                        <p data-bind='text: description'></p>
                    </div>
                    
                </div>
            
            </div>
            
        </div>
        
        <div class='col-xs-12 col-sm-6 col-md-4'>
            <h3>Pseudo Node:</h3>
        </div>
        
        <div class='col-xs-12 col-sm-6 col-md-4'>
            <h3></h3>
        </div>
        
    </div>
    
</div>
    

<script>
    
    
    
    function signIntoGithub(){
        
        var username = document.getElementById("githubUserName").value;
        var password = document.getElementById("githubPassword").value;
        
        var github = new Github({
            username: username,
            password: password,
            auth: "basic"
        });
        
        homeViewModel.setGithubReference(github,username);
        
        workspace.logInToGitHub(username, password);
        
    }
    
</script>
    