<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<div class="container-fluid">
    <div class="row">
        
        <div class='col-xs-12 col-sm-6 col-md-4'>
            
            <div data-bind="visible: !loggedIn()">
                <h3>Log in to Github</h3>

                <label for="exampleInputName2">Username</label>
                <input type="text" class="form-control" id="githubUserName" placeholder="Jane Doe">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="githubPassword" placeholder="Password">
                <button class="btn btn-default" onclick="signIntoGithub()">Sign in</button>
            </div>
            
            <div data-bind="visible: loggedIn()">
               
                <br />
                
                <div class="media" data-bind="with: basicGithubUserInfo">
                    <div class="media-left">
                        <a data-bind="attr: { href: profileUrl }">
                            <img class="media-object pull-left img-thumbnail" data-bind="attr: { src: profilePicURL }" style="width:64px; height:64px;">
                        </a>
                    </div>
                    
                    <div class="media-body">
                        <h4 class="media-heading" data-bind="text: displayName" style="margin-left: 10px"></h4>
                        <p style="margin-left: 10px">
                            <span data-bind="text: following"/> following <br />
                            <span data-bind="text: followers"/> followers
                        </p>
                    </div>
                </div>
                
                <div data-bind="if: applicationsViewModel.nameOfProjectLoaded().length != 0 ">
                    <!--<h3 data-bind="text: applicationsViewModel.nameOfProjectLoaded" />-->
                    <h3>Commits</h3>
                    <div data-bind="foreach: repoCommits" style='overflow:auto; height: 450px;'>
                        
                        <div class="media" >
                            <div class="media-left">
                                <a data-bind="if:profileUrl, attr: { href: profileUrl }">
                                    <img class="media-object pull-left img-thumbnail" data-bind="attr: { src: profilePicURL }" style="width:64px; height:64px;">
                                </a>
                            </div>

                            <div class="media-body">
                                
                                <h4 style="margin-left: 10px">
                                    <span data-bind="text: authorLogin" /> 
                                    <small data-bind="text: new Date(date)"></small>
                                </h4> <br />

                            </div>
                            <br />
                            <p style="margin-left: 10px" data-bind="text: message" />
                            
                            <a data-bind="attr: { href: commitHTMLLink }">
                                <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                                </button>
                            </a>
                            
                            <button class="btn btn-default btn-sm" onclick="commitsOverview.openInTabs()"> More Info </button>
                            
                            <hr>
                        </div>
                        
                    </div>
                    
                </div>
                
                
                <div data-bind="if: applicationsViewModel.nameOfProjectLoaded().length == 0 ">
                
                    <h3>List of Repos:</h3>
                    
                    <div data-bind='foreach: usersRepos'>
                        <h4><button type='button' class='btn btn-default btn-xs' data-bind='click: $parent.loadRepo'>
                            <span class='glyphicon glyphicon-import' aria-hidden='true'></span> </button><span data-bind='text: name'></span></h4>
                        <p data-bind='text: description'></p>
                    </div>
                    
                </div>
            
            </div>
            
        </div>
        
        <div class='col-xs-12 col-sm-6 col-md-8'>
            <br />
            <div data-bind="if: canEditReadMe">
                <button type="button" class='btn btn-default btn-sm' data-bind="click: toggleEditingReadMe">Edit README</button>
            </div>
            <div data-bind="if: !currentelyEditingReadme()">
                <span data-bind="html: readMeHTML"></span>
            </div>
            <div data-bind="if: currentelyEditingReadme()">
                <br />
                <textarea class='form-control' style='width:100%;' rows='25' data-bind="value: repoReadMeRaw"></textarea>
            </div>
            
        </div>

        
    </div>
    
</div>
    

<script>
    
    
    function signIntoGithub(){
        
        var username = document.getElementById("githubUserName").value;
        var password = document.getElementById("githubPassword").value;
        
        workspace.logInToGitHub(username, password);
        
    }
    
</script>
    