<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="container-fluid">

    <div class="row">
        
        <div class='col-md-4'>
        
            <h4>Basic Info</h4>

            <div class="input-group">

                <div class="input-group-addon">Name</div>
                <input type='text' class='form-control' data-bind='value: name'>

            </div>

            <textarea class='form-control' style='width:100%;' rows='3' data-bind='value: description' placeholder='Description of System'></textarea>
            <br>
        
        </div>
        
        <div class='col-md-5'>

            <h4> 
                Purposes
                <button type='button' class='btn btn-default' data-bind='click: addNewPurpose'>
                    <span class='glyphicon glyphicon-plus-sign' aria-hidden='true'></span>
                </button>
            </h4>
            
            <ul data-bind='foreach: purposes'>
                <li>
                    
                    <button type='button' class='btn btn-default btn-xs' data-bind='click: openInTabs'>
                        <span class='glyphicon glyphicon-eye-open' aria-hidden='true'></span> 
                    </button>
                    
                    <span data-bind='text: name'></span>
               
                </li>
            </ul>
            
        </div>
        
        <div class='col-md-3'>
            
            <h4>
                Subsystems
                <button type='button' class='btn btn-default' data-bind='click: addNewSubsystem'>
                    <span class='glyphicon glyphicon-plus-sign' aria-hidden='true'></span>
                </button>
            </h4>
            
            <dl data-bind='foreach: subSystems'>
                <dt>
                    
                    <button type='button' class='btn btn-default btn-xs' data-bind='click: removeSelfFromSystem'>
                        <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
                    </button>
                    
                    <button type='button' class='btn btn-default btn-xs' data-bind='click: openInTabs'>
                        <span class='glyphicon glyphicon-eye-open' aria-hidden='true'></span> 
                    </button>
                    
                    <span data-bind='text: name(), click: openInTabs'></span>
                
                </dt>
                
                <dd data-bind='text: description()'></dd>
                
            </dl>
            
        </div>
        
    </div>
    
    <div class="row">
        <div class='col-xs-12 col-md-9' style='position:relative'>
            <canvas id="NodeCanvas"></canvas>
        </div>
        
        <div class='col-xs-12 col-md-3'>
            
            <h4>Classes
            
                <div class='btn-group'>

                    <button type='button' class='btn btn-default' aria-expanded='false' data-bind="click: addNewClass">
                        <span class='glyphicon glyphicon-plus-sign' aria-hidden='true'></span>
                    </button>

                    <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown' aria-expanded='false'>
                        <span class='caret'></span>
                        <span class='sr-only'>Toggle Dropdown</span>
                    </button>

                    <ul class='dropdown-menu' role='menu'>

                        <li><a href='#' data-bind="click: application().createNewDesignPattern">Add New Pattern...</a></li>
                        <li class='divider'></li>

                        <span data-bind='foreach: application().defaultDesignPatterns'>
                            <li><a href='#'>Working on this</a></li>
                        </span>

                    </ul>

                </div>    
            </h4>
            
            <dl data-bind='foreach: classesAssociated'>
                <dt>
                    <button type='button' class='btn btn-default btn-xs' data-bind='click: removeSelfFromSystem'>
                        <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
                    </button>
                    
                    <button type='button' class='btn btn-default btn-xs' data-bind='click: openInTabs'>
                        <span class='glyphicon glyphicon-eye-open' aria-hidden='true'></span> 
                    </button>
                    <span data-bind='text: name'></span>
                </dt>
                <dd data-bind='text: description'></dd>
            </dl>
            
        </div>
        
    </div>

</div>
